<form action='ciao' method='get'>
  <div id='inputs' align='center'>
    <input type='text' name='first_input' >
    <input type='text' name='second_input' ><br/>
    <br/>
  </div>

  <div id='ops' align='center'>
    <input type='radio' name='ops' value='sum'>Sum</input>
    <input type='radio' name='ops' value='min'>Subtraction</input><br/>
    <input type='radio' name='ops' value='tim'>Multiply</input>
    <input type='radio' name='ops' value='div'>Division</input><br/>
    <br/>
  </div>

  <div id='ops' align='center'>
    <input type='submit' value='DIO SERPENTE AVVELENATO'>
  </div>
</form>
