<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title><%= @title %></title>
  </head>
  <body class='container'>
    <h1 align='center'><%= @title %></h1>
    <%= yield %>
    <% if @@current_user %>
    <form action='signout' method='post' >
      <input type="submit" value="Sign Out" />
    </form>
    <% end %>
  </body>
</html>
