<div id='login' align='center'>
  <form action='home' method='post'>
    <input type='text' name='user' >
    <input type='password' name='password' ><br/>
    <br/>
    <input type='submit' value='DIO SERPENTE AVVELENATO'>
  </form>
</div>

<div id='createlog' align = 'left'>
  <form action="/account" method ="get" >
      <input type="submit" value="create account" />
  </form>
</div>
