<div id='login' align='center'>
  <form action='account_creation' method='post'>
    <input type='text' name='new_user' > USER NAME </input>
    <input type='password' name='new_password' > PASSWORD </input><br/>
    <br/>
    <input type='submit' value='CREATE ACCOUNT'>
  </form>
</div>
