<div id='results' align = 'center'>
  <h2> <%= "The result is #{@result}" %> </h2>
</div>

<div id='back_to_home' align = 'left'>
  <form action="/" >
      <input type="submit" value="Do it again" />
  </form>
</div>
